<section class="">
  <h1>Hero section</h1>
</section>

<section class="">
  <h1>Features</h1>
</section>

<section class="">
  <h1>Pricing</h1>
</section>

<section class="">
  <h1>FAQs</h1>
</section>

<section class="">
  <h1>Testimonials</h1>
</section>

<section class="">
  <h1>CTA</h1>
</section>
